<div class="container">

    <div class="row socials">
  
      <a href="https://wa.me/41774449042" class="fa fa-whatsapp" target="_blank"></a>
  
      <a href="https://www.linkedin.com/in/gabriel-guerra-113387107/" class="fa fa-linkedin" target="_blank"></a>

      <a href="https://github.com/Bondi121" class="fa fa-github" target="_blank"></a>

      <a href="https://www.instagram.com/gabedariog/" class="fa fa-instagram" target="_blank"></a>

      <a href="mailto:gabriel.guerra@hotmail.de" class="fa fa-envelope" target="_blank"></a>
    </div>

    <div class="row">
        <hr>
    </div>

    
    <div class="row">
        <small id="date" class="text-center"> </small>
    </div>
</div>
